.message {
    display: flex;
    margin-bottom: 20px;
}

.message.currentAuthor {
    flex-direction: row-reverse;
}

.message .messageDataContainer {
    display: flex;
    flex-direction: column;
}

.message .messageDataContainer .messageMetaContainer {
    display: flex;
    align-items: flex-end;
    line-height: 20px;
    font-weight: bold;
}

.message.currentAuthor .messageDataContainer .messageMetaContainer {
    flex-direction: row-reverse;
}

.message .messageDataContainer .messageMetaContainer .messageName {
    margin-right: 5px;
    font-size: 18px;
}

.message .messageDataContainer .messageMetaContainer .messageDate {
    color: #888;
    font-size: 14px;
}

.message.currentAuthor .messageDataContainer .messageText {
    text-align: right;
}

.messageDate {
    margin-right: 10px;
}