button {
  background-color: #ff9966;
  color: #ffffff;
  border: 0;
  border-radius: 10px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.headers {
  font-size: 24px;
  font-weight: bold;
  margin: 24px;
}

html, body{
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

input {
  margin: 2px;
}